﻿@model mysqltest.Models.user

@{

    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <body>

        
        @using (Html.BeginForm())
        {
            <div class="bs-example" style="border:2px solid gray;">

                <div class="form-group centerlook">
                    <h1> Login </h1>
                </div>
                <div class="form-group centerlook">
                    <label>Correo :<label>
                    @Html.EditorFor(model => model.email)
                    @Html.ValidationMessageFor(model => model.email)
                </div>
                <div class="form-group centerlook">
                    <label>Clave:</label>
                    @Html.EditorFor(model => model.password)
                    @Html.ValidationMessageFor(model => model.password)

                </div>
                <div class="form-group error">
                    @if (@ViewBag.Failedcount != null)
                    {

                        <label> Failed Attempt count is: @ViewBag.Failedcount</label>
                      
                    }

                    @if (@ViewBag.NotValidUser != null)
                    {

                        <label> @ViewBag.NotValidUser</label>
                    }
                </div>
                <div class="loginbtn">

                    <input type="submit" value="Login" class="btn btn-primary" />

                </div>
            </div>
        }
    </body>
</html>
